$font: Poiret One;
$buttoncolor: #707890;
$buttonfont: #8fde9d;

.map{
	button{
		padding:20px;
		text-align:center;
		font-family:$font;
		font-size:30px;
		font-weight: bold;
		border-radius:5px;
		background-color: $buttoncolor;
	a{
		text-decoration:none;
		color: $buttonfont;
	}
	@media screen and (min-width:500px) and (min-width:1000px){
		position:absolute;
		top:54%;
		left:62%;
	}
	}
}